if err
  - var __display = "display:block; margin-top:16px; font-style:italic; font-size:12px";
else
  - var __display = "display:none";

.login-page
  .form
    .logo
      img(src="/landing/images/3a-logo-blue-min.png")
    #login-panel.panel-group(role="tablist", aria-multiselectable="true")
      .panel.panel-3a
        #local.panel-heading(role="tab")
          h4.panel-title
            a(role="button", data-toggle="collapse", data-parent="#login-panel", href="#local-inner", aria-expanded="true") Native Login
        #local-inner.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="#local")
            form.login-form(action="login?" + "#{query}", method="post")
              input(type="text", name="username", placeholder="username", autofocus)
              input(type="password", name="password", placeholder="password")
              button.btn.btn-primary(type="submit", value="Log In") Log In
              span.text-danger(style=__display) #{msg}
      .panel.panel-3a
        #anon.panel-heading(role="tab")
          h4.panel-title
            a.collapsed(role="button", data-toggle="collapse", data-parent="#login-panel", href="#anon-inner", aria-expanded="false") Or login as Guest
        #anon-inner.panel-collapse.collapse(role="tabpanel", aria-labelledby="#anon")
            form.login-form(action="login/anon?" + "#{query}", method="post")
              input(type="text", name="username", placeholder="username")
              button.btn.btn-primary(type="submit", value="Log In") Log In
              span.text-danger(style=__display) #{msg}
